
<div class="page-header"><h1>Latest Listings</h1></div>


<% @listings.each do |listing| %>
  <div class="block">
    <%= render partial: 'print_listing', :locals => {:listing => listing} %>
  </div>
<% end %>

<%= paginate @listings %>