<div class="page-header">
  <h1>Aggie Book Exchange <small>showing <%= @listings.count %> listings</small><hr/></h1>
</div>

<% @listings.each do |listing| %>
  <div class="block">
    <%= render partial: 'print_listing', :locals => {:listing => listing} %>
  </div>
<% end %>

<%= paginate @listings %>
