<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <legend>New Listing</legend>
      Only other signed-in Aggies will be able to see your contact information.<br><br>
      
      <%= render 'form' %>
      <%= link_to 'Back', listings_path %>
    </div>
  </div>
</div>
